body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.newGameButton{
  background-color: rgb(8, 12, 248); 
    color: rgb(255, 255, 255); 
    border: 2px solid rgb(0, 101, 252);
    padding: 16px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    width: 180px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.newGameButton:hover {
  background-color: #ffffff;
  color:rgb(21, 22, 18);
}

.rollButton{
  background-color: rgb(240, 23, 23); 
    color: whitesmoke; 
    border: 2px solid rgb(240, 23, 23);
    padding: 16px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    width: 180px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.rollButton:hover {
  background-color: #ffffff;
  color:black;
}

.checker-red{
  height: 60px;
  width: 60px;
  min-width: 60px;
  min-height: 60px;
  background-color: rgb(248, 3, 3);
  border-radius: 50%;
  border-width: 2px;
  border: 1px solid black;
  display: inline-block;
  
  padding: 0;
  position: relative;
  left : 0px;
  top : -302px;
  z-index: 1;
}

.checker-white{
  height: 60px;
  width: 60px;
  min-width: 60px;
  min-height: 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
  
  padding: 0;
  position: relative;
  left : 0px;
  top : -302px;
  z-index: 1;
}


.checker-red:focus { 
  outline: none;
  border: 4px solid rgb(211, 253, 23);  
}


.checker-white:focus { 
  outline: none;
  border: 4px solid rgb(27, 23, 253);  
}

.component-point{
  width: 60px;
  height: 300px;
}

.points-group-right{
  flex-direction: inherit;
  display: inherit;

  flex-wrap: inherit;
  flex: inherit;

  border-style: solid;
  border-color: rgba(168, 47, 17, 0.877);
  border-width: 0px 00px 00px 20px;

  padding: 5px 0px 0px 20px;
  margin: 0px 0px 0px 0px;
}

.points-group-left{
  flex-direction: inherit;
  display: inherit;
  flex-wrap: inherit;
  flex: inherit;

  border-style: solid;
  border-color: rgba(36, 30, 28, 0.877);
  border-width: 0px 20px 00px 00px;

  padding: 5px 20px 30px 0px;
  margin: 0px 0px 0px 0px;
}

.points-top{
  flex-direction: row;
  display: flex;
  
  
  border-style: solid;
  border-color: rgba(168, 47, 17, 0.877);
  border-width: 10px 10px 00px 10px;

  padding: 0px 0px 0px 20px;
  margin: 30px 30px 0px 30px;

  flex-wrap: nowrap;
  flex: 0 0 auto;
}

.points-bottom{
  flex-direction: row;
  display: flex;

  border-top-left-radius: 0%;
  border-style: solid;
  border-color: rgba(168, 47, 17, 0.877);
  border-width: 00px 10px 10px 10px;

  padding: 0px 0px 0px 20px;
  margin: 0px 30px 30px 30px;

  flex-wrap: nowrap;
  flex: 0 0 auto;
}